
/****** Create  Database [FLEXTIME]     ******/
CREATE DATABASE [FLEXTIME] ON  PRIMARY 
( NAME = N'FLEXTIME', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\FLEXTIME.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FLEXTIME_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\FLEXTIME_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
USE [FLEXTIME]
GO

/****** CREATE ALL TABLES *****/

/******   Table [dbo].[ABTEILUNG]     ******/

CREATE TABLE [dbo].[ABTEILUNG](
	[ABTEILUNG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_ABTEILUNG] PRIMARY KEY CLUSTERED 
(
	[ABTEILUNG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/******   Table [dbo].[RECHTE]     ******/

CREATE TABLE [dbo].[RECHTE](
	[RECHTE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RECHTSSTUFE] [nvarchar](50) NULL,
 CONSTRAINT [PK_RECHTE] PRIMARY KEY CLUSTERED 
(
	[RECHTE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/******   Table [dbo].[INTERVALL_ART]     ******/

CREATE TABLE [dbo].[INTERVALL_ART](
	[ART_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BESCHREIBUNG] [nvarchar](256) NOT NULL,
	[VERRECHNUNGSFAKTOR] [float] NOT NULL,
 CONSTRAINT [PK_INTERVALL_ART] PRIMARY KEY CLUSTERED 
(
	[ART_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/******   Table [dbo].[ARBEITER]     ******/

CREATE TABLE [dbo].[ARBEITER](
	[ARBEITER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VORNAME] [nvarchar](50) NULL,
	[NACHNAME] [nvarchar](50) NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORT] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](50) NULL,
	[RECHTE_ID] [bigint] NOT NULL,
	[ABTEILUNG_ID] [bigint] NULL,
 CONSTRAINT [PK_ARBEITER] PRIMARY KEY CLUSTERED 
(
	[ARBEITER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/******   Table [dbo].[ZEITINTERVALL]     ******/

CREATE TABLE [dbo].[ZEITINTERVALL](
	[INTERVALL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ARBEITER_ID] [bigint] NOT NULL,
	[STARTZEIT] [datetime] NOT NULL,
	[ENDZEIT] [datetime] NULL,
	[ART_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_ZEITINTERVALL] PRIMARY KEY CLUSTERED 
(
	[INTERVALL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ZEITINTERVALL] ON [dbo].[ZEITINTERVALL] 
(
	[INTERVALL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/******   Table [dbo].[RUECKVERGUETETE_UEBERSTUNDEN]     ******/

CREATE TABLE [dbo].[RUECKVERGUETETE_UEBERSTUNDEN](
	[UEBERSTUNDEN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ARBEITER_ID] [bigint] NOT NULL,
	[DATUM] [date] NULL,
	[ANZAHL] [float] NULL,
 CONSTRAINT [PK_RUECKVERGUETETE_UEBERSTUNDEN_1] PRIMARY KEY CLUSTERED 
(
	[UEBERSTUNDEN_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/******   Table [dbo].[NOTIZEN]     ******/

CREATE TABLE [dbo].[NOTIZEN](
	[NOTIZ_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ARBEITER_ID] [bigint] NOT NULL,
	[TEXT] [nvarchar](256) NULL,
	[DATUM] [datetime] NOT NULL,
 CONSTRAINT [PK_NOTIZEN] PRIMARY KEY CLUSTERED 
(
	[NOTIZ_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/******   Table [dbo].[ARBEITSPLANUNG]     ******/

CREATE TABLE [dbo].[ARBEITSPLANUNG](
	[PLANUNGS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[WOCHENTAG] [tinyint] NULL,
	[ANZAHL_STUNDEN] [int] NULL,
	[INTERVALL_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_ARBEITSPLANUNG] PRIMARY KEY CLUSTERED 
(
	[PLANUNGS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/******   Table [dbo].[ARBEITSPENSUM]     ******/

CREATE TABLE [dbo].[ARBEITSPENSUM](
	[PENSUM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BESCHAEFTIGUNGSGRAD] [int] NULL,
	[INTERVALL_ID] [bigint] NULL,
 CONSTRAINT [PK_ARBEITSPENSUM] PRIMARY KEY CLUSTERED 
(
	[PENSUM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/***** CREATE ALL CHECK CONSTRAINTS *****/

/******   Check [CK_ZEITINTERVALL]     ******/
ALTER TABLE [dbo].[ZEITINTERVALL]  WITH CHECK ADD  CONSTRAINT [CK_ZEITINTERVALL] CHECK  (([STARTZEIT]<[ENDZEIT] OR [ENDZEIT] IS NULL))
GO
ALTER TABLE [dbo].[ZEITINTERVALL] CHECK CONSTRAINT [CK_ZEITINTERVALL]
GO
/******   Check [CK_RUECKVERGUETETE_UEBERSTUNDEN]     ******/
ALTER TABLE [dbo].[RUECKVERGUETETE_UEBERSTUNDEN]  WITH CHECK ADD  CONSTRAINT [CK_RUECKVERGUETETE_UEBERSTUNDEN] CHECK  (([ANZAHL]>(0)))
GO
ALTER TABLE [dbo].[RUECKVERGUETETE_UEBERSTUNDEN] CHECK CONSTRAINT [CK_RUECKVERGUETETE_UEBERSTUNDEN]
GO
/******   Check [CK_ARBEITSPLANUNG]     ******/
ALTER TABLE [dbo].[ARBEITSPLANUNG]  WITH CHECK ADD  CONSTRAINT [CK_ARBEITSPLANUNG] CHECK  (([WOCHENTAG]>=(0) AND [WOCHENTAG]<=(6)))
GO
ALTER TABLE [dbo].[ARBEITSPLANUNG] CHECK CONSTRAINT [CK_ARBEITSPLANUNG]
GO
/******   Check [CK_ARBEITSPLANUNG_1]     ******/
ALTER TABLE [dbo].[ARBEITSPLANUNG]  WITH CHECK ADD  CONSTRAINT [CK_ARBEITSPLANUNG_1] CHECK  (([ANZAHL_STUNDEN]>(0)))
GO
ALTER TABLE [dbo].[ARBEITSPLANUNG] CHECK CONSTRAINT [CK_ARBEITSPLANUNG_1]
GO
/******   Check [CK_ARBEITSPENSUM]     ******/
ALTER TABLE [dbo].[ARBEITSPENSUM]  WITH CHECK ADD  CONSTRAINT [CK_ARBEITSPENSUM] CHECK  (([BESCHAEFTIGUNGSGRAD]>=(0) OR [BESCHAEFTIGUNGSGRAD] IS NULL))
GO
ALTER TABLE [dbo].[ARBEITSPENSUM] CHECK CONSTRAINT [CK_ARBEITSPENSUM]
GO


/***** CREATE FOREIGN KEY CONSTRAINTS *****/

/******   ForeignKey [FK_ARBEITER_ABTEILUNG]     ******/
ALTER TABLE [dbo].[ARBEITER]  WITH CHECK ADD  CONSTRAINT [FK_ARBEITER_ABTEILUNG] FOREIGN KEY([ABTEILUNG_ID])
REFERENCES [dbo].[ABTEILUNG] ([ABTEILUNG_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ARBEITER] CHECK CONSTRAINT [FK_ARBEITER_ABTEILUNG]
GO
/******   ForeignKey [FK_ARBEITER_RECHTE]     ******/
ALTER TABLE [dbo].[ARBEITER]  WITH CHECK ADD  CONSTRAINT [FK_ARBEITER_RECHTE] FOREIGN KEY([RECHTE_ID])
REFERENCES [dbo].[RECHTE] ([RECHTE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ARBEITER] CHECK CONSTRAINT [FK_ARBEITER_RECHTE]
GO
/******   ForeignKey [FK_ZEITINTERVALL_ARBEITER]     ******/
ALTER TABLE [dbo].[ZEITINTERVALL]  WITH CHECK ADD  CONSTRAINT [FK_ZEITINTERVALL_ARBEITER] FOREIGN KEY([ARBEITER_ID])
REFERENCES [dbo].[ARBEITER] ([ARBEITER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ZEITINTERVALL] CHECK CONSTRAINT [FK_ZEITINTERVALL_ARBEITER]
GO
/******   ForeignKey [FK_ZEITINTERVALL_INTERVALL_ART]     ******/
ALTER TABLE [dbo].[ZEITINTERVALL]  WITH CHECK ADD  CONSTRAINT [FK_ZEITINTERVALL_INTERVALL_ART] FOREIGN KEY([ART_ID])
REFERENCES [dbo].[INTERVALL_ART] ([ART_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ZEITINTERVALL] CHECK CONSTRAINT [FK_ZEITINTERVALL_INTERVALL_ART]
GO
/******   ForeignKey [FK_RUECKVERGUETETE_UEBERSTUNDEN_ARBEITER]     ******/
ALTER TABLE [dbo].[RUECKVERGUETETE_UEBERSTUNDEN]  WITH CHECK ADD  CONSTRAINT [FK_RUECKVERGUETETE_UEBERSTUNDEN_ARBEITER] FOREIGN KEY([ARBEITER_ID])
REFERENCES [dbo].[ARBEITER] ([ARBEITER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RUECKVERGUETETE_UEBERSTUNDEN] CHECK CONSTRAINT [FK_RUECKVERGUETETE_UEBERSTUNDEN_ARBEITER]
GO
/******   ForeignKey [FK_NOTIZEN_ARBEITER]     ******/
ALTER TABLE [dbo].[NOTIZEN]  WITH CHECK ADD  CONSTRAINT [FK_NOTIZEN_ARBEITER] FOREIGN KEY([ARBEITER_ID])
REFERENCES [dbo].[ARBEITER] ([ARBEITER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOTIZEN] CHECK CONSTRAINT [FK_NOTIZEN_ARBEITER]
GO
/******   ForeignKey [FK_ARBEITSPLANUNG_ZEITINTERVALL]  ******/
ALTER TABLE [dbo].[ARBEITSPLANUNG]  WITH CHECK ADD  CONSTRAINT [FK_ARBEITSPLANUNG_ZEITINTERVALL] FOREIGN KEY([INTERVALL_ID])
REFERENCES [dbo].[ZEITINTERVALL] ([INTERVALL_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ARBEITSPLANUNG] CHECK CONSTRAINT [FK_ARBEITSPLANUNG_ZEITINTERVALL]
GO
/****** ForeignKey [FK_ARBEITSPENSUM_ZEITINTERVALL] ******/
ALTER TABLE [dbo].[ARBEITSPENSUM]  WITH CHECK ADD  CONSTRAINT [FK_ARBEITSPENSUM_ZEITINTERVALL] FOREIGN KEY([INTERVALL_ID])
REFERENCES [dbo].[ZEITINTERVALL] ([INTERVALL_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ARBEITSPENSUM] CHECK CONSTRAINT [FK_ARBEITSPENSUM_ZEITINTERVALL]
GO
